.main-nav {
    min-height: 50px;
    width: 100%;
    margin: 0 auto;
    border-top : 3px solid #ef8236;
    box-shadow: 0px 1px 5px #00000033 ;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #f8f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    height: 100%;
    min-width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    padding: 5px 25px;
}
.nav_item{
    margin: 0px 3px;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    color: rgb(69,69,69);
    transition: 0.2s;
}
.nav_btn{
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;

}
.nav_item:hover{
    background-color: rgb(225,225,225);
}

.navbar  form input{
   min-width: 90%;
   margin: 0;
   padding: 8px 10px 8px 32px;
   border: solid #0000003e; 
}
.navbar > form{
    flex-grow: 1;
    padding: 0px 12px;
    position: relative;
}

.navbar form .search-icon{
    position: absolute;
    left: 25px;
    top: 10px;
}




form > img{
    width: 15px;
    height: 15px;
}
.nav-links{
    padding: 6px 13px;
    border: solid 1px blue;
    border-radius: 3px;
    background-color: #e7f8fe;
    cursor: pointer;
    
}
.nav-links:hover {
     background-color: #d3e4eb;
}

#mobile{
    display:none;
}

@media screen and (max-width : 796px) {
    .navbar > .nav_btn_grp {
        display: flex;
        flex-direction: column ;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 3em;
        right: 0px;
        width: 100px;
        height: 100vh;
        background-color: rgb(242, 244, 246);
    }
    .navbar  form  input{
        width: 50%;
    
    }
    #mobile{
        display: block;
    }

    .nav_btn_grp.active{
        visibility: hidden;
        
    }

    
}