<%- include("header"); -%>

<div class="latest">
   <div class="heading">Latest Recepies</div>
   <div class="latest-images">
    <div class="img-links row">
        <div class="dish-item col-lg-4">
            <img src="/images/sweetDish/sdr1.jpg" alt="" >
            <div class="dish">
                Dish Name
                <p class="dish-desc">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="dish-item col-lg-4">
            <img src="/images/sweetDish/sdr1.jpg " alt="" >
            <div class="dish">
                Dish Name
                <p class="dish-desc">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="dish-item col-lg-4">
            <img src="/images/sweetDish/sdr1.jpg" alt="" >
            <div class="dish">
                Dish Name
                <p class="dish-desc">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        
        
    </div> 
   </div>
   
</div>
<div class="season">
    <div class="heading">Season Specials</div>
    <div class="banner">
          
          <div class="title">
               Discover the flavours of monsoon festival
          </div>
          <div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
    </div>
    <div class="season-recepies">
        <div class="img-links row">
            <div class="dish-item col-lg-4">
                <img src="/images/sweetDish/sdr1.jpg" alt="" >
                <div class="dish">
                    Dish Name
                    <p class="dish-desc">Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="dish-item col-lg-4">
                <img src="/images/sweetDish/sdr1.jpg " alt="" >
                <div class="dish">
                    Dish Name
                    <p class="dish-desc">Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="dish-item col-lg-4">
                <img src="/images/sweetDish/sdr1.jpg" alt="" >
                <div class="dish">
                    Dish Name
                    <p class="dish-desc">Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            
            
        </div> 

    </div>
    
</div>
<div class="top">
    <div class="heading">Top Picks</div>
    <div class="img-links row">
        <div class="dish-item col-lg-4">
            <img src="/images/sweetDish/sdr1.jpg" alt="" >
            <div class="dish">
                Dish Name
                <p class="dish-desc">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="dish-item col-lg-4">
            <img src="/images/sweetDish/sdr1.jpg " alt="" >
            <div class="dish">
                Dish Name
                <p class="dish-desc">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="dish-item col-lg-4">
            <img src="/images/sweetDish/sdr1.jpg" alt="" >
            <div class="dish">
                Dish Name
                <p class="dish-desc">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        
        
    </div> 
    <div class="all"><a href="">View More Recepies</a></div>
    

</div>
<div class="author">
    <div class="auth-heading">From The Chef</div>
    <div class="content">
        <div class="intro-cont">
        <img src="/images/logo_auto_x2.jpg" alt="" class="auth-img" >
        <p class="auth-intro">Welcome Lorem ipsum dolor sit amet</p>
        </div>
        
        <p class="auth-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             Duis vitae est pharetra, malesuada purus id, malesuada turpis. 
             Cras efficitur facilisis dolor id consectetur.
             Fusce mi est, pulvinar et tristique id, accumsan sed velit.
             Duis eu urna non dolor maximus rhoncus.
             Quisque porta, elit non imperdiet consectetur, sem ante ullamcorper lorem, 
             in aliquam nulla lectus sit amet odio. Integer at ipsum sit amet magna cursus mollis 
             vel maximus ipsum. Ut tincidunt commodo mauris, eget ultricies arcu blandit vel.
             Pellentesque mattis ornare elementum. Sed eget sagittis lectus. 
             Sed eleifend mauris sed dapibus maximus. Sed sit amet eros purus. 
             Phasellus eu felis bibendum, sollicitudin augue vel, imperdiet neque. 
             Fusce dapibus velit vitae nisi lobortis suscipit. Fusce eleifend nisi elit, 
             nec sagittis tellus fringilla a. Donec efficitur scelerisque mi, sed porta risus blandit vel.
             Sed volutpat ante quis nunc scelerisque, eu tempor nulla porta.</p>
    </div>
</div>

<%- include("footer") -%> 